flask
flask-cors
pymongo
werkzeug
python-dotenv
torch
torchvision
torch-geometric
scikit-learn
pillow
sentence-transformers
fuzzywuzzy
rapidfuzz
pdf2image
pytesseract
opencv-python
joblib
pytz
pyjwt
gunicorn
